#div1{
    background-color: indianred;
    width: 100px ;
    height: 100px ;
}
#div2{
    background-color: plum;
    width: 100px ;
    height: 100px;
}
#div3{
    background-color: lightslategrey;
    width: 100px;
    height: 100px;
}
